html {
    background-image: url('https://raw.githubusercontent.com/msr8/wallpapers/main/neon%20planet.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body {
    background: transparent;
}
.heading {
    font-size: 3em;
    font-family: Comfortaa;
    text-align: center;
    text-decoration: underline;
    backdrop-filter: blur(5px);
}
div {
    background-color: rgba(0,0,0, 0.5);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

#p1     {font-size: small;}
#p2     {font-size: medium;}
#p3     {font-size: large;}
#p4     {font-family: 'Ubuntu Mono';}
#p5     {font-family: 'Comfortaa';}
#p6     {font-family: 'Roboto Mono';}
#p7     {font-style: normal;}
#p8     {font-style: italic;}
#p9     {font-style: oblique;}
#p10    {font-weight: lighter;}
#p11    {font-weight: normal;}
#p12    {font-weight: bold;}
#p13    {text-transform: lowercase;}
#p14    {text-transform: uppercase}
#p15    {text-transform: capitalize;}
#p16    {text-decoration: line-through;}
#p17    {text-decoration: overline;}
#p18    {text-decoration: underline;}


